<!--
     (Teamwork)new
-->

@model List<BusinessDetailsViewModel>
@{ ViewBag.Title = "Persian Yellow Pages"; }

<!--This page is done.-->
<h2 class="w-75 p-3 m-3">Business List</h2>

@foreach (var business in Model)
{
<div class="card w-75 p-3 m-3">
    <div class="card-body">
        <h5 class="card-title">@business.TitleEnglish</h5>
        <p class="card-text">@business.DescriptionEnglish</p>
        <br />
        <h4 class="card-title text-right persian">@business.TitlePersian</h4>
        <p class="card-text text-right persian">@business.DescriptionPersian</p>
        <br />
        <p> <strong>@business.CategoryName</strong></p>
        <p><strong>@business.City, @business.State</strong></p>

        <a asp-controller="Home" asp-action="Details"
           asp-route-id="@business.BusinessId" class="btn btn-primary">Details</a>
    </div>
</div>            }

