<!-- Mohammad Jokar Konavi, Behrooz Kazemi, Tonya Martinez ,and Andrea Griffis
     06/17/2022
     Capstone
-->

@using Microsoft.AspNetCore.Http
@model List<BusinessDetailsViewModel>
@inject LanguageService language


@{ ViewData["Title"] = "Search Results"; }

<!--Search Box-->
<div class="card w-75 p-3 m-3 zard">
    <form class="form-inline w-75 p-3 m-3" asp-action="Search">

        <div class="form-group">
            <label for="SearchPhrase" class="control-label"></label>
            <input name="SearchPhrase" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="@language.Getkey("Search")" class="btn btn-primary" />
        </div>

    </form>
</div>

<h2 class="w-75 p-3 m-3">@language.Getkey("Search Results")</h2>

@foreach (var business in Model)
{
<div class="card w-75 p-3 m-3 zard">
    <div class="card-body">
        <h5 class="card-title">@business.TitleEnglish</h5>
        <p class="card-text">@business.DescriptionEnglish</p>
        <br />
        <h4 class="card-title text-right persian">@business.TitlePersian</h4>
        <p class="card-text text-right persian">@business.DescriptionPersian</p>
        <br />
        <p> <strong>@business.CategoryName</strong></p>
        <p><strong>@business.City, @business.State</strong></p>

        <a asp-controller="Home" asp-action="Details"
           asp-route-id="@business.BusinessId" class="btn btn-primary">@language.Getkey("Details")</a>
    </div>
</div>      }

